$text-color: skyblue;
$text-category: black;
$text-light: blue;
$text-color-light: black;
$white: #ffffff;
$gray-background: black;
$light-gray-background: red;  
$separator-color: black;
$heart: read;
$primary: skyblue;
$cart-count: read;
$text-view : red;
$header :orange;
$gutter: 30px;

